*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:
    linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.9)),
    url("https://i.postimg.cc/YhVjLvR5/ChatGPT-Image-10-de-fev-de-2026-19-36-13.png")
    no-repeat center center fixed;
    background-size:cover;
    color:#fff;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:rgba(0,0,0,0.8);
    border-bottom:1px solid #d4af37;
    position:fixed;
    width:100%;
    z-index:1000;
}

.logo{
    color:#d4af37;
    font-weight:bold;
    font-size:22px;
}

.menu{
    display:flex;
    gap:20px;
}

.menu a{
    color:#d4af37;
    text-decoration:none;
}

.btn-nav{
    background:#d4af37;
    color:#000 !important;
    padding:8px 20px;
    border-radius:20px;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 8%;
}

.hero-content h1{
    font-size:45px;
    color:#d4af37;
}

.hero-content p{
    margin-top:15px;
    color:#ccc;
}

.btn-primary{
    display:inline-block;
    margin-top:25px;
    padding:15px 35px;
    background:#d4af37;
    color:#000;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.btn-primary:hover{
    background:#b8962e;
}

/* SEÇÕES */
.section{
    padding:120px 8%;
    text-align:center;
    background:rgba(0,0,0,0.95);
}

.section h2{
    color:#d4af37;
    margin-bottom:20px;
}

.cards{
    display:flex;
    gap:30px;
    margin-top:40px;
}

.card{
    background:#111;
    padding:30px;
    border-radius:15px;
    border:1px solid #d4af37;
    flex:1;
}

.card h3{
    color:#d4af37;
    margin-bottom:10px;
}

.btn-secondary{
    display:inline-block;
    margin-top:25px;
    padding:15px 35px;
    background:#d4af37;
    color:#000;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

/* ANIMAÇÃO */
.reveal{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* MENU MOBILE */
.menu-toggle{
    display:none;
    font-size:28px;
    color:#d4af37;
    cursor:pointer;
}

@media(max-width:900px){

    .menu{
        display:none;
        flex-direction:column;
        position:absolute;
        top:70px;
        right:8%;
        background:#000;
        padding:20px;
        border:1px solid #d4af37;
        border-radius:10px;
    }

    .menu-toggle{
        display:block;
    }

    .cards{
        flex-direction:column;
    }

    .hero-content h1{
        font-size:28px;
    }
}
