*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:black !important;
    color:#d4af37 !important;
}

/* TITULOS */
h1, h2, h3{
    color:#d4af37 !important;
    text-shadow:0 0 10px #d4af37;
}

/* NAVBAR */
.navbar{
    background:black !important;
}

.logo{
    color:#d4af37 !important;
    font-weight:bold;
}

/* LINKS */
a{
    color:#d4af37 !important;
}

/* BOTÕES */
button,
.btn-primary,
.btn-secondary,
.btn-nav{
    background:#d4af37 !important;
    color:black !important;
    border:none;
    padding:12px 25px;
    border-radius:25px;
    font-weight:bold;
}

/* CARDS */
.card{
    background:#111 !important;
    border:1px solid #d4af37;
}
